:root {
  --icon-footer-color: #000;
  --icon-github-hover: #000;
  --icon-linkedin-hover: #0a66c2;
}

.dark-mode {
  --icon-footer-color: #fff;
  --icon-github-hover: #000;
  --icon-linkedin-hover: #0a66c2;
}

.footer-text {
  text-align: center;
}

@media (max-width: 768px) {
  .credits {
    padding-bottom: 0px;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  .hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .hero-content {
    flex: 1;
  }

  footer.footer {
    margin-top: 48px;
    bottom: 30px;
    left: 0;
    transform: translateX(0);
    text-align: center;
    font-size: 0.9rem;
    z-index: 5;
    position: relative;
  }
  .footer-icons {
    margin-top: 30px;
    display: flex;
    gap: 1rem;
  }

  .footer .credits {
    padding-bottom: 20px;
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) and (max-width: 1536px) {
  .footer .credits {
    padding-bottom: 20px !important;
  }
}
