html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #000;
  --text-color: #fff !important;
}

#global-canvas-root {
  position: absolute;
  inset: 0;
  z-index: 0;
  transition: transform 0.4s ease;
}

.canvas-hero {
  transform: translateX(-20%);
  padding-top: 80px;
}

@media (max-width: 768px) {
  .canvas-hero {
    transform: none;
    padding-top: 0;
  }
}

@media (max-width: 1536px) {
  .canvas-hero {
    transform: translateX(-20%);
    padding-top: 362px;
  }
}

.text-color {
  color: var(--text-color);
}
.lang-btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
}

.lang-btn.active {
  align-items: center;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  padding: 2px 6px;
}

.canvas-hidden {
  opacity: 0;
  pointer-events: none;
}

@font-face {
  font-family: "MozillaText";
  src: url("/assets/fonts/MozillaText-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "MozillaText", sans-serif !important;
  background: var(--bg-color);
}

.hero-canvas {
  margin-top: 50px;
  height: 100%;
  cursor: grab;
}

.hero-canvas:active {
  cursor: grabbing;
}

.hero-canvas canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

body.page-credits .canvas-container,
body.page-credits .hero-canvas,
body.page-credits #global-canvas-root {
  display: none !important;
}
